<!DOCTYPE html>
<html lang="fr-fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <title>AdonisJS - Social Media</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Adonis JS</a>
            @if(userData)
            <div class="navbar-nav btn-group dropstart">
                <button type="button" class="btn btn-secondary dropdown-toggle nav-item" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{ userData.displayName ? userData.displayName : userData.username}}
                </button>
                <ul class="dropdown-menu mr-3">
                    <li><a class="dropdown-item" href="#">Modifier le Profil</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{{ route('disconnect') }}">Déconnection</a></li>
                </ul>
            </div>
            @else
            <div class="navbar-nav btn-group dropstart">
                <button type="button" class="btn btn-warning dropdown-toggle nav-item" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Non connecté
                </button>
                <ul class="dropdown-menu mr-3">
                    <li><a class="dropdown-item" href="{{ route('login') }}">Se connecter</a></li>
                    <li><a class="dropdown-item" href="{{ route('register') }}">S'enregistrer</a></li>
                </ul>
            </div>
            @endif
        </div>
    </nav>

    <div class="container position-relative">

        @!component('components/flash')

        @!section('body')

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
</body>

</html>